<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myTestBean" class="com.henry.stu.pojo.MyTestBean">
        <constructor-arg index="0" type="java.lang.String">
            <value>hy</value>
        </constructor-arg>
        <constructor-arg index="1" type="java.lang.String">
            <value>henry</value>
        </constructor-arg>
    </bean>

    <bean id="car" class="com.henry.stu.pojo.CarFactoryBean">
        <constructor-arg value="超级跑车,400,2000000"/>
    </bean>
</beans>